<h2>Relevamientos Digitales</h2>
<h3>¡Hola <%= @user.name %>!</h3>
<p>
  Has solicitado resetear tu contraseña para la plataforma de Relevamientos Digitales<br>
  Tu nueva contraseña es: <b><%= @password %></b><br>
</p>
<p>¡Gracias por contactarnos y que tengas un buen día!</p>