<% if user_signed_in? %>
    <!-- footer content -->
    <footer>
      <div class="pull-right">
        Relevamientos Digitales - Proyecto final 2017 para
        <a href="https://www.frba.utn.edu.ar/" class="red">@UTN.BA</a>
      </div>
      <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
<% end %>