<h2>Relevamientos Digitales</h2>
<h3>¡Hola <%= @resource.name %>!</h3>
<p>
  Alguien ha solicitado un enlace para cambiar tu contraseña en la plataforma de Relevamientos ART, lo que se puede realizar a través del siguiente enlace.
</p>

<p><%= link_to t('.action', default: 'Change my password'), edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale) %></p>

<p>
  Si no lo has solicitado vos, por favor ignorá este correo electrónico.<br>
</p>
<p>
  Tu contraseña no será cambiada hasta que no accedas al enlace y escojas una nueva.<br>
</p>

<p>¡Gracias por contactarnos y que tengas un buen día!</p>